/* impostazioni di base */

*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: 'Raleway', sans-serif;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  color: white;
}

/* contenitore generale */

.container{
  margin: auto;
  margin-top: 30px;
  width: 70%;
  height: 70%;
  border-radius: 10px;
  padding: 70px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* header */

.logo{
  width: 220px;
  height: 100px;
  margin: auto;
}

.logo img{
  width: 100%;
  height: 100%;
}

header > h2{
  text-align: center;
  color: #39ff14;
}

/* nav */

.reserve{
  padding: 10px 0px;
  text-align: center;
  margin-top: 8px;
  background-color: #39ff14;
}

.reserve button{
  background-color: white;
  border: 1px solid grey;
  font-family: 'Raleway', sans-serif;
  border-radius: 3px 3px;
}

/* main */

section{
  margin-top: 20px;
  margin-bottom: 20px;
}

#nome-monopattino{
  font-size: 24px;
  font-weight:800;
}


.batteria{
  width: 60%;
  height: 30px;
  background-color: green;
  border-radius: 5px;
}

.media{
  width: 30%;
  background-color: orange;
}

.scarica{
  width: 15%;
  background-color: red;
}
